.header_section{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 350px 1fr;
    border-bottom: 1px solid black;
}

.header_icons{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.mail, .linkedin{
    cursor: pointer;
}

.header_text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.home_link{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.home_link:hover{
    color: rgba(146, 100, 2, 1);
    text-decoration: none;
}

.career_profile_link{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.career_profile_link:hover{
    color: rgba(146, 100, 2, 1);
    text-decoration: none;
}

.academic_gallery_link{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.academic_gallery_link:hover{
    color: rgba(146, 100, 2, 1);
    text-decoration: none;
}