@media (max-width: 768px){

    /* header */
    .header_section{
        display: grid;
        grid-template-columns: 1fr;
    }

    .header_icons{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .header_text{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* body */
    .job_experience{
        text-align: center;
    }

    .profile_info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .experience, .certification, .skills{
        margin-bottom: 20px;
    }
}