body{
    font-family: sans-serif;
    background-color: #eff0ef;
}

.profile_info{
    display: grid;
    grid-template-columns: 300px 1fr 200px;
}

.resume{
    text-align: center;
    margin-top: 50px;
}

.resume_link{
    color: black;
    text-decoration: none;
}

.resume_link:hover{
    color: rgba(146, 100, 2, 1);
}