body{
    font-family: sans-serif;
    background-color: #eff0ef;
    margin: 0px;
}

.profile_info{
    display: grid;
    grid-template-columns: 300px 1fr 200px;
}

.skills_skills{
    padding-bottom: 10px;
}

.resume{
    text-align: center;
    margin-top: 25px;
}

.resume_link{
    color: black;
    font-size: 25px;
}

.resume_link:hover{
    color: rgba(146, 100, 2, 1);
}