body{
    font-family: sans-serif;
    background-color: #eff0ef;
    margin: 0px;
}

.contact_title{
    text-align: center;
}

.our_phone, .our_email{
    display: grid;
    grid-template-columns: 100px 200px;
    padding-top: 10px;
    justify-content: center;
}