body{
    font-family: sans-serif;
    background-color: #eff0ef;
}

.card1, .card2, .card3, .card4{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title{
    font-size: 50px;
}

.learn_more{
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgba(146, 100, 2, 1);
    color: white;
}

.learn_more:hover{
    background-color: #eff0ef;
    color: rgba(146, 100, 2, 1);
    border: 1px solid rgba(146, 100, 2, 1);
    cursor: pointer;
}