@media (max-width: 768px) {
    
    /* header */
    .header_section{
        display: grid;
        grid-template-columns: 1fr;
    }

    .header_icons{
        display: grid;
        grid-template-columns: 100px 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .header_text{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* body */
    .title{
        font-size: 35px;
    }

    .card1, .card2, .card3, .card4{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        border: 1px solid black;
    }
}